/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.safidi-container-block {
	position: relative;
	.safidi-overelay{
		top: 0;
		left: 0;
		position: absolute;
		height: 100%;
		width: 100%;
	}
}
