/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wrapper-block-new-wp {
	position: relative;
	.safidi-overelay{
		top: 0;
		left: 0;
		position: absolute;
		height: 100%;
		width: 100%;
	}
	.content{
		position: relative;
	}
}
